annotated-types==0.7.0
anyio==4.9.0
certifi==2025.4.26
creyPY[postgres]==3.0.0
fastapi==0.115.12
fastapi-pagination==0.13.1
h11==0.14.0
httpcore==1.0.8
httpx==0.28.1
idna==3.10
psycopg==3.2.9
psycopg-binary==3.2.9
psycopg-pool==3.2.6
pydantic==2.9.2
pydantic_core==2.23.4
python-dotenv==1.1.0
sniffio==1.3.1
SQLAlchemy==2.0.41
starlette==0.46.2
typing_extensions==4.14.0

Mako==1.3.10 # Alembic
MarkupSafe==3.0.1 # Alembic
alembic==1.16.1 # Alembic

SQLAlchemy-Utils==0.41.2 # SQLAlchemy

click==8.2.1 # Uvicorn
uvicorn==0.34.3 # Uvicorn

iniconfig==2.1.0 # pytest
packaging==25.0 # pytest
pluggy==1.6.0 # pytest
pytest==8.3.5 # pytest

fastapi-filters==0.3.0 # Filters

APScheduler==3.11.0 # Scheduler for deletion
tzlocal==5.3.1 # Scheduler for deletion
